<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="IE=dege,chrom=1" http-equiv="X-UA-Compatible">
    <title>套卷</title>
    <style type="text/css">
    	[v-cloak] {
		  display: none;
		}
		.cont>div>p>span{font-size: 18px !important;}
    </style>
    <link href="css/reset.css" rel="stylesheet" />
    <link href="css/exam.css" rel="stylesheet" />
</head>
<body>
    <div id="app">
        <div class="wrap" v-cloak>
            <!--<header v-show="!isQuize" > <div class="answerTime" v-show="isMulAnswer">作答时间:{{leftTime}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本题已答：0/38</div> {{tiNum}}/{{tiNumAll}}</header>-->
            <header v-show="isMulAnswer && !isMulCount && !allParse">
            	<div class="timer"><span>答题时间:{{leftTime}}</span></div>
            	<div class="num"><span>{{tiNum}}</span>/{{tiNumAll}}</div>
            </header>
            <section class="cont" v-show="isMulAnswer && !isMulCount && !allParse">
            	<div v-html="topicCurrent.body"></div>
            </section>
            <footer>
                <div class="exit" @click="closeFn()"></div>
                <div class="pre" v-show="isMulAnswer && !isMulCount && !allParse" @click="select(-1)"></div>
                <div class="next" v-show="isMulAnswer && !isMulCount && !allParse" @click="select(1)"></div>
                <div class="collect" v-show="isMulCount || allParse" @click="mulHomeFn()"></div>
                <div class="start" v-show="isMulPanel">
                	<div class="startBtn" @click="mulStartFn()">
                		<span>BEG</span>
                		<h5>开始答题</h5>
                	</div>
                </div>
                <div class="start" v-show="isMulAnswer && !isMulCount && !allParse">
                	<div class="startBtn" @click="isMulCountFn()">
                		<span>END</span>
                		<h5>结束答题</h5>
                	</div>
                </div>
                <div class="mulResult" v-show="isMulCount">
                	<div class="pagination">
	            		<div class="pre" @click="mulPreFn()"><</div>
	            			{{current}}/{{tiNumAll}}	
	            		<div class="next" @click="mulNextFn()">></div>
            		</div>
            		<div class="btn" @click="mulParseFn()">查看解析</div>
                </div>
            </footer>
            <!--全答控制面板-->
            <div class="allAnswer" :class="{'isAllAnswerFold':isFold}" v-show="isAll">
            	<img src="img/refresh.png" alt="" v-show="!isFold" @click="homeFn()" />
            	<div class="infor" :class="{'inforActive':allInfor}" v-show="!isFold" @click="allInforFn()">答题详情</div>
            	<div class="count" :class="{'isAllCountActive':isAllCount}" v-show="!isFold" @click="isAllCountFn()">作答统计</div>
            	<div class="line" v-show="!isFold"></div>
            	<div class="result" v-show="!isFold">
            		<div>已答：{{answerStuNum}}人</div>
            		<div>未答：{{stuListNum - answerStuNum}}人</div>
            	</div>
            	<div class="fold" :class="{'foldActive':isFold}" @click="foldFn()"></div>
            </div>
            <!--全答详情页面-->
            <div class="all_infor" v-show="allInfor">
            	<header>
            		<div>已答：{{answerStuLists.length}}人</div>
            		<div>未答：{{stuListNum - answerStuLists.length}}人</div>
            	</header>
            	<section>
            		<div class="left">
            			<span v-for="item in answerStuLists">{{item.name}}</span>
            			<!--<span>王明</span><span>王明</span><span>王明</span><span>王明</span><span>王明</span><span>王明</span>-->
            		</div>
            		<div class="line"></div>
            		<div class="right">
            			<span v-for="item in noAnswerList">{{item.name}}</span>
            			<!--<span>王明</span><span>王明</span><span>王明</span><span>王明</span><span>王明</span><span>王明</span><span>王明</span><span>王明</span><span>王明</span><span>王明</span>-->
            		</div>
            	</section>
            	<span class="close" @click="panelCloseFn()">X</span>
            </div>
            <!--确认界面-->
            <div class="is_all_count" v-show="isAllCount">
            	<header></header>
            	<section>是否结束答题</section>
            	<div class="footer">
            		<div class="left" @click="allContinueFn()">
            			继续答题
            		</div>
            		<div class="right" @click="allCloseFn()">
            			结束答题
            		</div>
            	</div>
            </div>
            <!--全答统计界面-->
            <div class="allCount" v-show="allCount">
            	<header>
            		<div>正确答案：{{topicCurrent.answer}}</div>
            		<div>正确率:{{parseInt(dadui.length / stuList.length * 100)}}%</div>
            		<div>参与率:{{parseInt(answerStuLists.length / stuList.length * 100)}}%</div>
            	</header>
            	<section>
            		<ul class="left">
            			<li class="item" v-for="x in stuAnswerCount">  
            				<div class="anser">{{x[0].tanswer}}({{x.length}}人)</div>
            				<div class="cont">
            					<span v-for="sub in x">{{sub.name}}</span>
            					<!--<span>王明</span><span>王明</span><span>王明</span><span>王明</span><span>王明</span><span>王明</span>
            					<span>王明</span><span>王明</span><span>王明</span><span>王明</span><span>王明</span><span>王明</span>
            					<span>王明</span><span>王明</span><span>王明</span><span>王明</span><span>王明</span><span>王明</span>-->
            				</div>
            			</li>
            			<!--<li class="item">  
            				<div class="anser">BC(33人)</div>
            				<div class="cont">
            					<span>王明</span><span>王明</span><span>王明</span><span>王明</span><span>王明</span><span>王明</span>
            				</div>
            			</li>-->
            		</ul>
            		<div class="right">
            			<div class="title">作答统计</div>
            			<div class="shape">
            				<div id="main" style="width: 280px;height:280px;"></div>
        					<!--<div class="left">正确：{{dadui.length}}人</div>-->
        					<!--<div class="right">错误：{{dacuo.length}}人</div>-->
            			</div>
            			<div class="cont">
            				<div>正确人数：{{dadui.length}}人</div>
            				<div>错误人数：{{dacuo.length}}人</div>
            				<div>未答人数：{{noAnswerList.length}}人</div>
            			</div>
            			<div class="btn" @click="allParseFn()">查看解析</div>
            		</div>
            	</section>
            	<span class="close" @click="panelCloseFn()">X</span>
            </div>
            <!--全答答案解析页面-->
            <div class="allParse" v-show="allParse">
            	<header>答案解析</header>
            	<div class="cont" v-html="topicCurrent.analysis"></div>
            	<div class="close" @click="panelCloseFn()">X</div>           	
            </div>
            <!--<div class="panel" v-show="!isAll && !isGroup && !Random && !isVie && !isMulPanel && !isMulAnswer">
                <div class="close" @click="closeFn()">X</div>
                <div class="pre" @click="select(-1)"><</div>
                <div class="next" @click="select(1)">></div>
            </div>-->
            <!--小组答题控制页面-->
            <div class="groupAnswer" :class="{'isAllgroupFold':isFold}" v-show="isGroup">
            	<img src="img/refresh.png" alt="" v-show="!isFold" @click="homeFn()" />
            	<div class="start" :class="{'unableActive':!enableStart,'startActive':groupStart,'stopAnswerActive':isStopAnswer}" v-show="!isFold" @click="groupStartFn()"></div>
            	<div class="Rank" :class="{'isGroupCountActive':Rank}" v-show="!isFold" @click="isRankFn()">排行榜</div>
            	<div class="line" v-show="!isFold"></div>
            	<div class="result" v-show="!isFold">
            		<div>已答：{{answerStuLists.length}}组</div>
            		<div>未答：{{selectData.length - answerStuLists.length}}组</div>
            	</div>
            	<div class="fold" :class="{'foldActive':isFold}" @click="foldFn()"></div>
            </div>
            <!--小组人名列表页面-->
            <div class="groupMember" v-show="isGroup && !groupStart && !Rank">
            	<header>请依次点击学生后开始答题</header>
            	<ul>
            		<li v-for="item in groupData">
            			<div class="left">{{item.groupNum}}组</div>
            			<div class="right">
            				<span v-for="subItem in item.member" :class="{'isSelect':subItem.isSelect}" @click="selectAnswerFn(subItem)">
            					{{subItem.name}}
            				</span>
            			</div>
            		</li>
            	</ul>
            </div>
            <!--小组奖励页面-->
            <div class="allParse groupReward" v-show="isStopAnswer && !allParse">
            	<header>正确答案:ABC</header>
            	<ul class="cont">
            		<li v-for="item in  selectData">
            			<div class="item">
            				<div class="groupNum">{{item.groupNum}}组</div>
            				<div class="answer">{{item.tanswer}}</div>
            				<div class="name">{{item.name}}</div>
            				<div class="addTip" :class="{'zoomOutUp':item.isShowAddTip}">+1分</div>
            				<div class="decTip" :class="{'zoomOutUp':item.isShowDecTip}">-1分</div>
            			</div>
            			<div class="add" @click="showTipFn(item,1)">+</div>
            			<div class="dec" @click="showTipFn(item,-1)">-</div>
            		</li>
            		<!--<li>
            			<div class="item">
            				<div class="groupNum">1组</div>
            				<div class="answer">ABC</div>
            				<div class="name">张小白</div>
            				<div class="addTip" :class="{'zoomOutUp':isShowAddTip}">+1分</div>
            				<div class="decTip" :class="{'zoomOutUp':isShowDecTip}">-1分</div>
            			</div>
            			<div class="add" @click="showTipFn(1)">+</div>
            			<div class="dec" @click="showTipFn(-1)">-</div>
            		</li>-->
            	</ul>
            	<div class="tips">点击<span>+</span>加一分     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;点击<span>-</span>减一分</div>
            	<div class="close" @click="panelCloseFn()">X</div>
            	<div class="parse" @click="allParseFn()">查看解析</div>
            </div>
            <!--小组排行榜页面-->
            <div class="allParse groupReward groupRank" v-show="Rank">
            	<header>排行榜</header>
            	<ul class="cont">
            		<li v-for="item in  selectData">
            			<div class="item">
            				<div class="groupNum">{{item.groupNum}}组</div>
            				<div class="score">{{item.score}}</div>
            			</div>
            		</li>
            		<!--<li>
            			<div class="item">
            				<div class="groupNum">1组</div>
            				<div class="score">13</div>
            			</div>
            		</li>-->
            	</ul>
            	<div class="close" @click="panelCloseFn()">X</div>
            </div>
        	<!--随机点名控制panel-->
        	<div class="groupAnswer random" :class="{'isRandomFold':isFold}" v-show="Random">
            	<img src="img/refresh.png" alt="" v-show="!isFold" @click="homeFn()" />
            	<div class="start" :class="{'isStart':randomRusult}" v-show="!isFold" @click="startRandom()"></div>
            	<div class="parse"  :class="{'isParse':allParse}" v-show="!isFold"  @click="randomParseFn()">查看解析</div>
            	<div class="fold" :class="{'foldActive':isFold}" @click="foldFn()"></div>
            </div>
            <!--随机选到的学生界面-->
            <div class="allParse random_result" v-show="randomRusult">
            	<header>请作答</header>
            	<div class="cont">
            		<div class="stuName" v-show="randomStuName">{{randomName.name}}</div>
            		<div class="randomResult" v-show="randomAnswer">
            			<div class="name">{{randomName.name}}</div>
            			<div class="answer">{{randomName.tanswer}}</div>
            			<ul class="reward">
            				<li v-for="(item,index) in starArr" :class="{'light':item.light}" @click="rewardFn(index)"></li>
            			</ul>
            		</div>
            	</div>
            	<div class="close" @click="panelCloseFn()">X</div>           	
            </div>
            <!--抢答控制panel-->
        	<div class="groupAnswer random vie" :class="{'isRandomFold':isFold}" v-show="isVie">
            	<img src="img/refresh.png" alt="" v-show="!isFold" @click="homeFn()" />
            	<div class="start" :class="{'isStart':randomRusult}" v-show="!isFold" @click="startVieFn()"></div>
            	<div class="parse"  :class="{'isParse':allParse}" v-show="!isFold"  @click="randomParseFn()">查看解析</div>
            	<div class="fold" :class="{'foldActive':isFold}" @click="foldFn()"></div>
            </div>
            <!--开始抢答页面-->
            <div class="allParse random_result" v-show="inVie">
            	<header></header>
            	<div class="cont">
            		<div class="stuName">开始抢答</div>
            	</div>
            	<div class="close" @click="panelCloseFn()">X</div>           	
            </div>
            <!--抢答成功页面-->
            <div class="allParse random_result" v-show="isVied">
            	<header>抢答成功</header>
            	<div class="cont">
            		<div class="stuName" v-show="viaStuName">{{viaName.name}}</div>
            		<div class="randomResult">
            			<div class="name">{{viaName.name}}</div>
            			<div class="answer">{{viaName.tanswer}}</div>
            			<ul class="reward">
            				<li v-for="(item,index) in starArr" :class="{'light':item.light}" @click="rewardFn(index)"></li>
            			</ul>
            		</div>
            	</div>
            	<div class="close" @click="panelCloseFn()">X</div>           	
            </div>
            <!--多题页面-->
            <div class="mulTopic" v-show="isMul || isQuize">
            	<header>套卷列表</header>
            	<div class="tag">名称</div>
            	<ul>
	            	<li v-for="item in mulTopicData">
	            		<div class="cont">{{item.name}}</div>
	            		<span class="time">{{item.updatetime}}</span>
	            		<span class="num">{{item.nums}}题</span>
	            		<div class="btn" @click="mulBtnStartFn(item)">出题</div>
	            	</li>
            	</ul>
            </div>
        	<!--多题控件面板-->
        	<div class="allAnswer mulPanel" :class="{'isMulFold':isFold}" v-show="isMulPanel">
        		<div class="tag">设置答题时间</div>
        		<input type="text" v-model="time" placeholder="00:00"  onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)"/>
            	<!--<div class="startMul" v-show="!isFold" @click="mulStartFn()">开始答题</div> 
            	<div class="line" v-show="!isFold"></div>
            	<div class="set" v-show="!isFold">
            		<span>设置答题时间</span>
            		<input type="text" v-model="time" placeholder="00" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)"/>
            		<span>分钟</span>
            	</div>
            	<div class="fold" :class="{'foldActive':isFold}" @click="foldFn()"></div>-->
            </div>
        	<!--多题答题进行中 -->
        	<!--<div class="allAnswer mulInAnswer" :class="{'isMulAnswerFold':isFold}" v-show="isMulAnswer">
            	<img src="img/refresh.png" alt="" v-show="!isFold" @click="mulHomeFn()" />
            	<div class="infor" :class="{'mulActive':mulInfor}" v-show="!isFold" @click="mulInforFn()">结束答题</div>
            	<div class="count" :class="{'isAllCountActive':isMulCount}" v-show="!isFold" @click="isMulCountFn()">作答统计</div>
            	<div class="fold" :class="{'foldActive':isFold}" @click="foldFn()"></div>
            </div>-->
            <!--<div class="panel" v-show="isMulAnswer">
                <div class="close" @click="closeFn()">X</div>
                <div class="pre" @click="select(-1)"><</div>
                <div class="next" @click="select(1)">></div>
            </div>-->
            <!--多题结束panel-->
            <div class="mulClose" v-show="mulInfor">
            	答题结束
            </div>
            <!--多题手动结束页面-->
            <!--确认界面-->
            <div class="is_all_count" v-show="isMulConfirm">
            	<header></header>
            	<section>是否结束答题</section>
            	<div class="footer">
            		<div class="left" @click="mulContinueFn()">
            			继续答题
            		</div>
            		<div class="right" @click="mulCloseFn()">
            			结束答题
            		</div>
            	</div>
            </div>
            <!--多题统计页面-->
             <div class="mulHead" v-show="isMulCount"><div class="cont"><span>答题总用时:12:00</span><span>题目数量:40</span><span>平均正确率:12%</span></div></div>
             <div class="allCount mulCount" v-show="isMulCount">
            	<header>正确答题:AB</header>
            	<section>
            		<div class="left">
            			<div class="item">  
            				<div class="anser">AB(22人)</div>
            				<div class="cont">
            					<span>王明</span><span>王明</span><span>王明</span><span>王明</span><span>王明</span><span>王明</span>
            					<span>王明</span><span>王明</span><span>王明</span><span>王明</span><span>王明</span><span>王明</span>
            					<span>王明</span><span>王明</span><span>王明</span><span>王明</span><span>王明</span><span>王明</span>
            				</div>
            			</div>
            			<div class="item">  
            				<div class="anser">BC(33人)</div>
            				<div class="cont">
            					<span>王明</span><span>王明</span><span>王明</span><span>王明</span><span>王明</span><span>王明</span>
            				</div>
            			</div>
            		</div>
            		<div class="right">
            			<div class="title">作答统计</div>
            			<div class="shape">
        					<div id="main" style="width: 280px;height:280px;"></div>
            			</div>
            			<div class="cont">
            				<div>正确人数：22人</div>
            				<div>错误人数：12人</div>
            				<div>未答人数：12人</div>
            			</div>
            			<!--<div class="btn" @click="mulParseFn()">查看解析</div>-->
            		</div>
            	</section>
            	<!--<div class="pagination">
            		<div class="pre" @click="mulPreFn()"><</div>
            			{{current}}/{{total}}	
            		<div class="next" @click="mulNextFn()">></div>
            	</div>-->
            	<!--<span class="close" @click="panelCloseFn()">X</span>-->
            </div>
        </div>
    </div>   
</body>
<script src="js/vue.min.js"></script>
<script src="js/vue-resource.js"></script>
<script src="js/echarts.min.js"></script>
<script src="js/exam.js"></script>
</html>